.margin-carrousel{
    height: 550px;
    margin: 0px 20px 0px 18px;
}

.margin-title{
    margin-left: 10px;
}
.margin-left-NavBar{
    margin-left: 70px;
}
.margin-right-NavBar-Button{
    margin-right: 10px;
}
.margin-up-card{
    margin: 50px 120px 0px 120px;
}
.margin-up-card-small{
    margin: 50px 110px 20px 120px;
}
.margin-logo-small{
    margin: -70px 0px -60px 0px;
}
.small-card-size{
    height: 270px; width: 240px;
}